.list {
    display: grid;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: $tertiaryColor;

    &__title {
        padding: 10px;
        margin: 0;
        background-color: $primaryColor;
        text-align: center;
        color: $primaryTextColor;
        text-transform: uppercase;

        &--pending {
            order: 1;
        }

        &--done {
            order: 3;
        }
    }
}
